[init]
	defaultBranch = main
[user]
	email = koller_michael@outlook.de
	name = Michael Koller
[core]
	editor = nvim
[alias]
	graph = log --oneline --decorate --graph
	basediff = "!f() { \
        	git diff $(git merge-base $1 --fork-point $2) $2 $3; \
	}; f"

